# Build output
bin/
obj/

# Visual Studio Code settings
.vscode/

# Visual Studio folder
.vs/

# User-specific files
*.user
*.suo

# Debugging
*.pdb
*.cache
*.log

# NuGet
*.nupkg
*.snupkg
project.assets.json
project.nuget.cache

# Others
*.tmp

# OS
.DS_Store

# SQLite junk
*.db-shm
*.db-wal
*.db-journal
*.db
*.db-GymTracker

# Build artifacts
bin/
obj/




