<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="navbar-brand-icon">exercise</span>
            GymTracker
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
    @*
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="navbar-icon">cookie</span>
                Register
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="navbar-icon">cookie</span>
                Login
            </NavLink>
        </div>
    *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="navbar-icon">dashboard</span>
                Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logworkout">
                <span class="navbar-icon">book_4</span>
                Journal
            </NavLink>
        </div>

        @*
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nutrition">
                <span class="navbar-icon">cookie</span>
                Nutrition
            </NavLink>
        </div>
        *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="newsevents">
                <span class="navbar-icon">campaign</span>
                News & Events
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nearest-gym">
                <span class="navbar-icon">globe_location_pin</span>
                Map
            </NavLink>
        </div>
        
    </nav>
</div>
