@page "/"

<PageTitle>Dashboard</PageTitle>

<h1>Welcome to GymTracker!</h1>


<p>This site helps you keep track of your fitness journey. Here's what you can do:</p>

<ul>
    <li>Log your daily workouts</li>
    <li>Track progress over time</li>
    <li>Plan future workouts</li>
    <li>View your personal statistics</li>
</ul>

